@page "/Consultar_AsitenciaDetalle"
@using Entidades




<EditForm Model="asistencia" OnValidSubmit="Buscar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    

       <div class="container">
        <div class="card-header">
            <h3>Consulta</h3>
        </div>

        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <div class="flex-fill mx-2">
                        <label>Filtro</label>
                        <select class="form-control col-2" @bind="Filtro">
                            <option value="0"></option>
                            <option value="1">Id</option>
                            <option value="2">Nombre</option>
                      

                        </select>

                    </div>



                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio" />
                    </div>

                    <button type="button" class="btn btn-warning" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2" /> Buscar
                    </button>
                </div>

            </form>
        </div>


        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>Id</th>
                    <th>Asistecnia Id</th>
                    <th>Estudiante Id</th>
                     <th>Nombre</th> 
                    <th>Asistio</th>
                  
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                  
                    <tr>
                            <td>@item.Id</td>
                            <td>@item.AsistenciaId</td>
                            <td>@item.EstudianteId</td>
                            <td>@item.Nombre</td>
                            <td>@item.Asistio</td>
                         
                           
                     </tr>
                            
                        
                    
                        
                }
                
            </tbody>

            <th>Conteo:</th>

                @foreach (var items in lista)

                {

                     conteo = items.Id;

                }

                 <td>@conteo</td>
                
                  
                    
                

        </table>
      
    </div>



</EditForm>

@code {
      public Asistencia asistencia {set;get;}= new Asistencia();
    public AsistenciaDetalle Detalle =new AsistenciaDetalle(0,0,false,"",0,0);
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public List<Asistencia> listas { get; set; } = new List<Asistencia>();
     public List<AsistenciaDetalle> lista { get; set; } = new List<AsistenciaDetalle>();
    
    public int conteo;


    [Inject]
    public AsistenciaBLL asistenciaBLL { get; set; }
    public void Buscar()
    {
        lista=asistenciaBLL.GeListaAsistenciaDetalle();
         


        if (Criterio != null)

        {

            switch (Filtro)

            {

                case "0":

                    lista =asistenciaBLL.GeListaAsistenciaDetalle();

                    break;

                case "1":


                    lista =asistenciaBLL.GetListAsistenciaDetalle(l => l.Id.ToString() == (Criterio));


                    break;;
                
                case "2":

                    lista =asistenciaBLL.GetListAsistenciaDetalle(l => l.Nombre.ToLower().Contains(Criterio.ToLower()));
                 break;
                    
                   
                  




            }

        }

        else

        {
         
            lista =asistenciaBLL.GetListAsistenciaDetalle(t => true);

        }



    }



}