@page "/R_Asistencia"
@* @page "/Asistencia/{Productoid:int}" *@
@inject IToastService toast 

<EditForm Model="asistencia" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div className="container">
         <div class="card align-items-center">
            <div class="card">


                <div class="card-header">
                    <h3>Registro de Asistencia</h3>
                </div>


                <div class="card-body">
                    <form>

                        @*Producto id*@

                        <div class="form-row align-items-center">

                            <div class="col">

                                <div class="form-group">

                                    <label>AsistenciaID</label>

                                    <div class="input-group">

                                        <InputNumber @bind-Value="asistencia.AsistenciaId" class="form-control col-4" />

                                        <div>

                                            <button type="button" class="btn btn-primary input-group-text"
                                                @onclick="Buscar">Buscar</button>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>


                        @* Descricion *@
                        <div class="form-group">
                            <label>GrupoId</label>
                           <InputSelect class="form-control col-2" @bind-Value="grupos.GrupoId">
                                    
                                        @foreach (var item in Listagrupo)
                                        {
                                            
                                            <option value="@item.GrupoId">@item.DescripcionCurso</option>
                            
                                        }
                            </InputSelect>
                        </div>
                        @* Exitencia *@
                        <div class="form-group">
                            <label>Presente</label>
                            <InputText class="form-control" @bind-Value="asistencia.Presente" />
                            <ValidationMessage For="@(() =>asistencia.Presente)" />
                        </div>
                        @* Costo *@
                        <div class="form-group">
                            <label>Ausentes</label>
                            <InputText class="form-control" @bind-Value="asistencia.Ausentes" />
                            <ValidationMessage For="@(() =>asistencia.Ausentes)" />
                        </div>
                    
                        @* FechaCaducidad *@

                        <div Class="form-group">

                            <label>Fecha</label>


                            <div class="input-group">

                                <span class="input-group-text">Fecha de Caducidad</span>



                                <input type="date" @bind-value="asistencia.Fecha" />

                                <ValidationMessage For="@(() => asistencia.Fecha)" />

                            </div>

                        </div>

                    </form>


                </div>


                <div class="card-header align-items-center">
                    <h3>Asistencia Detalle </h3>
                </div>

                <div class="card-body">

                    <div class="form-row align-items-center">
                        <div class="col">
                            <div class="form-group">


                                <div class="input-group">
                                
                                    <div class="flex-fill mx-2">
                                        <label>ID</label>
                                    <InputNumber readonly class="form-control" @bind-Value="Detalle.Id"
                                            placeholder="Presentacio del detalle" />
                                    </div>
                                    <div class="flex-fill mx-2">
                                        <label> AsistenciaId </label>
                                        <InputNumber readonly class="form-control" @bind-Value="Detalle.AsistenciaId" />

                                    </div>
                                    <div class="flex-fill mx-2">
                                        <label>EstudianteId</label>
                                        <InputSelect class="form-control col-2" @bind-Value="estudiantes.EstudianteId">
                                    
                                        @foreach (var item in Listaestudiante)
                                        {
                                            
                                            <option value="@item.EstudianteId">@item.Nombre</option>
                            
                                        }
                                      </InputSelect>
                                       
                                    </div>
                                    <div class="flex-fill mx-2">
                                        <label>Asistio</label>
                                        <InputText class="form-control" @bind-Value="Detalle.Asistio" />
                                    </div>
                                    

                                    <button type="button" class="btn btn-lg btn-primary"
                                        @onclick="Agregardetalle">Agregar</button>
                                </div> 
                            </div>
                        </div>
                    </div>


                    <table class="table table-light">
                        <thead class="thead">
                            <tr class="table">
                                <th>Id</th>
                                <th>AsistenciaId</th>
                                <th>EstudianteId</th>
                                <th>Asistio</th>
                            </tr>
                        </thead>

                         <tbody>
                            @foreach (var item in asistencia.asistenciadetalle)
                            {
                                
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.AsistenciaId</td>
                                     <td>@item.EstudianteId</td>
                                      <td>@item.Asistio</td>
                                  
                                    <td><span class="btn btn-sm btn-outline-primary oi oi-ban" href="#"
                                        @onclick="@(() => RemoverFila(item))"> Remover</span> </td> 
                                    
                                </tr>
                            }
                        </tbody> 



                    </table>
                    <div class="card-footer">

                        <div class="form-group text-center" display: inline-block>

                            <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>

                            <button type="submit" class="btn btn-lg btn-success">Guardar</button>

                            <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">Eliminar</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</EditForm>

@code {
    public Asistencia asistencia {set;get;}= new Asistencia();
    public AsistenciaDetalle Detalle =new AsistenciaDetalle(0,0,"");
    public Estudiantes estudiantes= new Estudiantes();
    public List<Estudiantes> Listaestudiante = new List<Estudiantes>();

    public Grupos grupos= new Grupos();
    public List<Grupos> Listagrupo = new  List<Grupos>();

    public List<Asistencia> lista { get; set; } = new List<Asistencia>();
     [Inject]
    public AsistenciaBLL asistenciaBLL { get; set; }
    protected override void OnInitialized()
    {
          Listaestudiante= asistenciaBLL.GetListEstudiante(c => true);
          Listagrupo= asistenciaBLL.GetListGrupos(c => true);
        Buscar();

    }

    private void RemoverFila(AsistenciaDetalle  item)

    {

        this.asistencia.asistenciadetalle.Remove(item);

    }

    public void Buscar()
    {
        Asistencia? encontrado =asistenciaBLL.Buscar(asistencia.AsistenciaId);
       
        if (encontrado != null)
        {
          this.asistencia= encontrado;
        }
        else
        {
        
        }
    }
    public void Nuevo()
    {
        asistencia= new Asistencia();
        Detalle= new AsistenciaDetalle(0,0,"");
        
    }
    public void Guardar()
    {    
        if(string.IsNullOrEmpty(asistencia.Presente))
        {
            asistencia.GrupoId=grupos.GrupoId;
            asistencia.Presente=" ";
            if(asistenciaBLL.insertar(asistencia))
            {
                toast.ShowSuccess("Se a Guardar el producto");
            }else{
                    
                toast.ShowError("No se a Guardado");
            } 
            
        }else{
             asistencia.GrupoId=grupos.GrupoId;
             asistencia.Ausentes=" ";
            if(asistenciaBLL.insertar(asistencia))
            {
                toast.ShowSuccess("Se a Guardar el producto");
            }else{
                    
                toast.ShowError("No se a Guardado");
            } 

        }
         
    }
    public void Eliminar()
    {
        if (!asistenciaBLL.Eliminar(asistencia.AsistenciaId))
        {
           
               toast.ShowError("No se pudo elimini con exito");

        }
        else
        {
            toast.ShowSuccess("Se a eliminado con exito"); 

        }
    }
    public void Agregardetalle()
    {
     
      asistencia.asistenciadetalle.Add(new AsistenciaDetalle (asistencia.AsistenciaId,Detalle.EstudianteId=estudiantes.EstudianteId,Detalle.Asistio));
      lista = asistenciaBLL.GetList(c => true);
        
              
    }
   
    
}



